<!-- footer section start -->
<div class="footer-content">
    <ul class="footer-info">
        <div class="company-info">
            <p>FridayTech</p>
            <ul class="socialmedia">
                <li>
                    <a href="https://www.instagram.com/"
                    target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                </li>
                <li>
                    
                     <a href="https://www.linkedin.com/"target="_blank">
                     <!-- icon -->
                      <i class="fab fa-linkedin"></i></a>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/"target="_blank">
                        <i class="fab fa-facebook-f"></i></a>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="footer-links">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="">Support</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Faqs</a></li>
            <li><a href="">Careers</a></li>
        </ul>
        <div class="subscribe-wrap">
            <h3>Get the latest design insights straight to your inbox.</h2>
            <form action="" class="subscriptionForm">
                <input type="text" placeholder="Enter your email e.g example@gmail.com">
                <button>Subscribe</button>
            </form>
        </div>
    </ul>
    <hr class="footer-seperator">
    <p class="copyRight">Copyright &copy; <span class="year" id="year"></span> FridayTech. All Rights Reserved.</p>
</div>
<!-- footer section end -->